<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>VidMeet</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>VidMeet</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>GADApplicationIdentifier</key>
        	<string>ca-app-pub-3940256099942544~1458002511</string>
        	<key>NSUserTrackingUsageDescription</key>
        	<string>This identifier will be used to deliver personalized ads and improve your experience.</string>
		<key>FirebaseAppDelegateProxyEnabled</key>
		<true/>
		<key>CFBundleURLTypes</key>
            <array>
              <dict>
                <key>CFBundleURLSchemes</key>
                <array>
                  <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
                </array>
              </dict>
              <dict>
                <key>CFBundleURLSchemes</key>
                <array>
                  <string>com.googleusercontent.apps.628359371114-oip3f0cmf6gcnt59g1e8l2os0u5j7e4r</string>
                </array>
              </dict>
            </array>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>This app needs location permission to show nearby users in Meet.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>This app needs location permission to show nearby users in Meet.</string>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>GADNativeAdValidatorEnabled</key>
        <false/>
        <key>NSAppTransportSecurity</key>
        <dict>
          <key>NSAllowsArbitraryLoads</key>
          <true/>
          <key>NSAllowsArbitraryLoadsInMedia</key>
          <true/>
          <key>NSAllowsArbitraryLoadsForMedia</key>
          <true/>
        </dict>

	</dict>
</plist>
